

.App {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 300px;
}

h1{
  font-size: 3rem;
}

#form-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 

}

#main-div{
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 600px;
  padding: 25px;
  gap: 25px;
}


#results-div{
  min-height: 100%;
  width: 50%;
  border: 1px purple solid;

}

#playlist-div{
  min-height: 100%;
  width: 50%;
  border: 1px purple solid;

}